body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
img {
    width: 20%
}
h1 {
    text-align: center;
    font-weight: 200;
    font-size: 2em;
}
h4 {
    font-weight: 200;
    font-size: 1.5em;
    margin: 5px;
}
h5 {
    font-weight: 500;
    font-size: 0.8em;
    margin: 5px;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    /* color: #EB984E; */
    text-decoration: underline;
}
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.parent-card {
    width:100%;
    height: 50vh;
    /* background:grey; */
    color:white;
    overflow: hidden;
    position: relative;
}
.card {
    height: 100%;
    width: 100%;
    /* margin: -5px 0 0 0; */
    transition: all 0.5s ease;
    position: absolute;
}
.parent-card:hover .card,
.parent-card:focus .card {
  transform: scale(1.2);
}
.card::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}
.parent-card:hover .card:before,
.parent-card:focus .card:before {
  display: none;
}


/* .thumbnail {
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    display: block;
} */
.divhead {
    padding: 10px;
    position: absolute;
}
.center {
    margin-right: auto;
    margin-left: auto;
}
a.btn {
    padding: 8px 12px;
}
.banner {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;   
    /* position: absolute; */
}
.default-div {
    height: 100vh;
    border: 1px black solid;
}
.resto-description {
    text-align: center;
    top: 50%;
    left: 50%;
    color: black;
    font-size: 1em;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}
.banner-title {
    position: absolute;
    color: white;
}
.banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5em;
    font-weight: 200;
}
.parent-div {
    position: relative;
}
#banner-loco {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(../img/loco.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#title-landing {
    position:absolute;
    height: 7vh;
    width: 70vw;
    z-index: 2;
    background-color: #DFAB00;
    color: white;
    /* font-family: 'Corben', cursive; */
    font-size: 1.8em;
    text-align: center;
    margin-top: 46.5vh;
    margin-left: 15vw;
    font-weight: 900;
    vertical-align: middle;
    border: white;
}
.card-dish {
    display: flex;
    justify-content: center;
    /* height: 100%; */
    width: 100%;
}
.img-dish {
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
}
.img-div {
    width:50%;
    align-items: center;
}
.dishtext-div {
    width:50%;
}

.dishes-div {
    border: 2px black solid;
    height: 80%;
    width: 80%;
    margin-left: 10%;
    margin-top: 10vh;
    display: flex;
}
.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
#bestseller-div {

}
#title-div {
    background-color: black;
    color: white;
    width: 40%;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    position: absolute;
    margin-left: 30%;
    margin-top:8vh;
}
@media(min-width:768px) {
    .parent-card {
        width:100%;
    }
    .flex {
        flex-wrap: nowrap;
    }
    .card-dish {
        display: block;
        margin: auto;
    }   
    .middle {
        margin: auto;
        text-align: center;
    }
    .img-div {
        height: 35vh;
    }
    .dishtext-div {
        height: 45vh;
        justify-content: unset;
    }
    .resto-description {
        font-size: 2em;
    }
}